NodeRed_Flow/checkDataConsistency.json
[{"id":"614e9779.9eb168","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"rPi2"},{"id":"3280e413.cd7f1c","type":"switch","name":"check integrity","property":"payload","rules":[{"t":"btwn","v":-20,"v2":45},{"t":"else"}],"checkall":"true","outputs":2,"x":241,"y":201.83331298828125,"z":"6f85eaee.907a14","wires":[["7d7d8905.828278"],["635b41e8.9ca4c"]]},{"id":"5e268b21.a1d974","type":"change","name":"Add unit","action":"replace","property":"unit","from":"","to":"°C","reg":false,"x":181.61114501953125,"y":156.36117553710938,"z":"6f85eaee.907a14","wires":[["3280e413.cd7f1c"]]},{"id":"635b41e8.9ca4c","type":"function","name":"Warning - Out of range","func":"msg.payload = \"Erreur - \" +  msg.topic.split(\"/\")[1] + \" - \" + msg.payload + msg.unit;\nreturn msg;","outputs":1,"x":502.5,"y":222,"z":"6f85eaee.907a14","wires":[["b06954d.f4f96a8"]]},{"id":"7d7d8905.828278","type":"function","name":"Set topic name","func":"msg.topic = \"/data/\"+msg.topic.split(\"/\")[2]+\"/\"+msg.topic.split(\"/\")[3];\n\nreturn msg;","outputs":1,"x":478,"y":162,"z":"6f85eaee.907a14","wires":[["397bee77.c68412"]]},{"id":"3f751f25.c08ae","type":"mqtt in","name":"","topic":"/raw/+/Temperature","broker":"614e9779.9eb168","x":155,"y":102,"z":"6f85eaee.907a14","wires":[["5e268b21.a1d974"]]},{"id":"397bee77.c68412","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"614e9779.9eb168","x":705.6944580078125,"y":161,"z":"6f85eaee.907a14","wires":[]},{"id":"e09eaa26.1f6158","type":"switch","name":"check integrity","property":"payload","rules":[{"t":"btwn","v":"15","v2":"100"},{"t":"else"}],"checkall":"true","outputs":2,"x":218,"y":379.83331298828125,"z":"6f85eaee.907a14","wires":[["5f653a80.a09ac4"],["ac5e7eb0.53a18"]]},{"id":"6f3e7808.90c188","type":"change","name":"Add unit","action":"replace","property":"unit","from":"","to":"%","reg":false,"x":158.61114501953125,"y":334.3611755371094,"z":"6f85eaee.907a14","wires":[["e09eaa26.1f6158"]]},{"id":"ac5e7eb0.53a18","type":"function","name":"Warning - Out of range","func":"msg.payload = \"Erreur - \" +  msg.topic.split(\"/\")[1] + \" - \" + msg.payload + msg.unit;\nreturn msg;","outputs":1,"x":479.5,"y":400,"z":"6f85eaee.907a14","wires":[["8b33ea7.f74cc18"]]},{"id":"5f653a80.a09ac4","type":"function","name":"Set topic name","func":"msg.topic = \"/data/\"+msg.topic.split(\"/\")[2]+\"/\"+msg.topic.split(\"/\")[3];\n\nreturn msg;","outputs":1,"x":455,"y":332.83331298828125,"z":"6f85eaee.907a14","wires":[["e2bb6b43.1d4498"]]},{"id":"7a9a2807.8565d8","type":"mqtt in","name":"","topic":"/raw/+/Humidity","broker":"614e9779.9eb168","x":133.5,"y":272.83331298828125,"z":"6f85eaee.907a14","wires":[["6f3e7808.90c188"]]},{"id":"e2bb6b43.1d4498","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"614e9779.9eb168","x":682.6944580078125,"y":331.83331298828125,"z":"6f85eaee.907a14","wires":[]},{"id":"3aa55b88.c55aa4","type":"comment","name":"Check data consistency","info":"","x":107,"y":49,"z":"6f85eaee.907a14","wires":[]},{"id":"fc4fe9af.03b018","type":"switch","name":"check integrity","property":"payload","rules":[{"t":"btwn","v":"887","v2":"1080"},{"t":"else"}],"checkall":"true","outputs":2,"x":226.5,"y":602,"z":"6f85eaee.907a14","wires":[["9aeeb1d8.65115"],["7e88afbf.81775"]]},{"id":"2d694ee5.d296b2","type":"change","name":"Add unit","rules":[{"t":"set","p":"unit","to":"mbar"}],"x":167.11114501953125,"y":556.5278625488281,"z":"6f85eaee.907a14","wires":[["fc4fe9af.03b018"]]},{"id":"7e88afbf.81775","type":"function","name":"Warning - Out of range","func":"msg.payload = \"Erreur - \" +  msg.topic.split(\"/\")[1] + \" - \" + msg.payload + msg.unit;\nreturn msg;","outputs":1,"x":488,"y":622.1666870117188,"z":"6f85eaee.907a14","wires":[["dfafa70d.205058"]]},{"id":"9aeeb1d8.65115","type":"function","name":"Set topic name","func":"msg.topic = \"/data/\"+msg.topic.split(\"/\")[2]+\"/\"+msg.topic.split(\"/\")[3];\n\nreturn msg;","outputs":1,"x":474,"y":552,"z":"6f85eaee.907a14","wires":[["c2c9d505.3d3628"]]},{"id":"c913d4bb.36ec28","type":"mqtt in","name":"","topic":"/raw/Outside/Pressure","broker":"614e9779.9eb168","x":135.5,"y":500,"z":"6f85eaee.907a14","wires":[["2d694ee5.d296b2"]]},{"id":"c2c9d505.3d3628","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"614e9779.9eb168","x":688,"y":552,"z":"6f85eaee.907a14","wires":[]},{"id":"16bedb32.e94125","type":"mqtt in","name":"","topic":"/raw/Outside/PressureSeaLevel","broker":"614e9779.9eb168","x":165,"y":460,"z":"6f85eaee.907a14","wires":[["2d694ee5.d296b2"]]}]
