NodeRed_Flow/checkSensorTimeout.json
[{"id":"614e9779.9eb168","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"rPi2"},{"id":"4675ffe8.b98a","type":"function","name":"Timeout","func":"// Initialise context variable\ncontext.sensor = (context.sensor || {} );   \n\n// Clear msg.payload\nmsg.payload = \"\";\n\n\nif ( msg.topic == \"onTime_1m\" ) {\n// Timer case\n\tfor ( var key in context.sensor ){\n\t\t// 65 sec\n\t\tif ( context.sensor[key] < (Date.now()-100*1000) ) {\n\t\t\tmsg.payload = msg.payload + \" Le capteur \" + key + \" ne répond plus depuis : \" + context.sensor[key] + \"\\r\\n\";\n\t\t}\n\t}\n} else {\n// Sensor refresh case\n\tcontext.sensor[ msg.topic ] = Date.now();\n}\n\n\nreturn msg;","outputs":1,"x":374.5,"y":380,"z":"758ce4af.8a731c","wires":[["efd4c042.102b4"]]},{"id":"9d95b491.626a48","type":"inject","name":"","topic":"onTime_70s","payload":"","payloadType":"none","repeat":"70","crontab":"","once":true,"x":163,"y":380,"z":"758ce4af.8a731c","wires":[["4675ffe8.b98a"]]},{"id":"efd4c042.102b4","type":"switch","name":"Filter null","property":"payload","rules":[{"t":"cont","v":"Le"}],"checkall":"true","outputs":1,"x":517.5,"y":380,"z":"758ce4af.8a731c","wires":[["b9588f6f.46a77"]]},{"id":"eb5ad2c3.14a53","type":"switch","name":"Filter null","property":"topic","rules":[{"t":"cont","v":"/batteryLevel/"}],"checkall":"true","outputs":1,"x":317.5,"y":320,"z":"758ce4af.8a731c","wires":[["4675ffe8.b98a"]]},{"id":"e936a10c.16c96","type":"mqtt in","name":"","topic":"/batteryLevel/+","broker":"614e9779.9eb168","x":152,"y":320,"z":"758ce4af.8a731c","wires":[["eb5ad2c3.14a53"]]},{"id":"b81cae6e.47e35","type":"comment","name":"Check sensor timeout","info":"","x":112.5,"y":280,"z":"758ce4af.8a731c","wires":[]},{"id":"b9588f6f.46a77","type":"rbe","name":"","func":"rbe","gap":"","x":650,"y":380,"z":"758ce4af.8a731c","wires":[["c816895e.37e978","fd0eb359.02f15"]]}]
