NodeRed_Flow/checkSensorBatteryLevel.json
[{"id":"614e9779.9eb168","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"rPi2"},{"id":"171faa12.e8e056","type":"comment","name":"Check sensors battery level","info":"","x":132.5,"y":500,"z":"758ce4af.8a731c","wires":[]},{"id":"8c69e777.739618","type":"mqtt in","name":"","topic":"/batteryLevel/+","broker":"614e9779.9eb168","x":152,"y":540,"z":"758ce4af.8a731c","wires":[["be65b775.419a48"]]},{"id":"be65b775.419a48","type":"switch","name":"Thresholds","property":"payload","rules":[{"t":"lte","v":"3.5"},{"t":"lte","v":"3.2"}],"checkall":"true","outputs":2,"x":320.5,"y":540,"z":"758ce4af.8a731c","wires":[["6ec95b6c.9136a4"],["51e6f90e.ae1908"]]},{"id":"6ec95b6c.9136a4","type":"function","name":"Add warning","func":"msg.payload = \"Attention - \" +  msg.topic.split(\"/\")[2] + \" - \" + msg.payload + \" V\";\nreturn msg;","outputs":1,"noerr":0,"x":492,"y":520,"z":"758ce4af.8a731c","wires":[["30718877.cf8e78"]]},{"id":"51e6f90e.ae1908","type":"function","name":"Add error","func":"msg.payload = \"Erreur - \" +  msg.topic.split(\"/\")[2] + \" - \" + msg.payload + \" V\";\nreturn msg;","outputs":1,"noerr":0,"x":492,"y":560,"z":"758ce4af.8a731c","wires":[["ed9a364c.1265c8"]]},{"id":"30718877.cf8e78","type":"rbe","name":"","func":"rbe","gap":"","x":630,"y":520,"z":"758ce4af.8a731c","wires":[["c4bfa6c9.3b4058","363e973a.c9c168"]]},{"id":"ed9a364c.1265c8","type":"rbe","name":"","func":"rbe","gap":"","x":630,"y":560,"z":"758ce4af.8a731c","wires":[["4ded0abd.b212f4","505d67a4.afa298"]]}]
