NodeRed_Flow/NoteRF_flow.json
[{"type":"tab","id":"758ce4af.8a731c","label":"NoteRF"},{"type":"tab","id":"6f85eaee.907a14","label":"DataProcessing"},{"type":"tab","id":"e73f34a4.18c0c8","label":"Influx"},{"type":"tab","id":"9cb2d97b.634d28","label":"Dashing"},{"type":"tab","id":"a602b629.59fd48","label":"WeatherFromWundeground"},{"id":"27b239d6.d84dc6","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"614e9779.9eb168","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"rPi2"},{"id":"bce2fc25.431d","type":"twitter-credentials","screen_name":"@otwitt4945"},{"id":"ee433fc4.11bcc","type":"serial in","name":"","serial":"27b239d6.d84dc6","x":96,"y":85,"z":"758ce4af.8a731c","wires":[["a037f488.5fc808"]]},{"id":"90fb63c3.6f04a","type":"function","name":"Split and add infos","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar rssi = {};\nvar batteryLevel = {};\n\nvar tableSensorsName = [ \"Nothing\", \"Conservatory\", \"LivingRoom\", \"Bedroom_2\", \"SensorTest_1\",\n\t\t\t\t\t \"Bedroom_1\", \"SensorTest\", \"Citrus\", \"Office\",\n\t\t\t\t\t \"Bathroom\",\n\t\t\t\t\t];\n\n\n\n\n\n// Extract sensorID, sensor name, and sensor type\nvar payloadLength = msg.payload.byteLength;\nvar sensorID = msg.payload.split('|')[0];\nvar sensorName = tableSensorsName[ sensorID ];\nvar sensorType = msg.payload.split('|')[1];\n\n\n// Extract RSSI & battery level\nrssi.topic =  \"/rssi/\" + sensorName;\nrssi.payload = msg.payload.substr( -4, 3 ); \nbatteryLevel.topic =  \"/batteryLevel/\" + sensorName\nbatteryLevel.payload = msg.payload.substr( -8, 3 )/100;\n\n\n/*  \nDATA_DHT22      1 \nDATA_TELEINFOCLIENT 2\nDATA_DS18B20   3\n*/\n\n\n// Extract data\n\n// Temperature\nif ( sensorType == 1 ) {\n\tmsg1.topic = \"/raw/\" + sensorName + \"/Temperature\";\n\tmsg1.payload = msg.payload.split( \"|\" )[2]/100;\n\tmsg2.topic = \"/raw/\" + sensorName + \"/Humidity\";\n\tmsg2.payload = msg.payload.split( \"|\" )[3]/100;\n}\n// Teleinfo client\nif ( sensorType == 2 ) {\n\tmsg1.topic = \"/Electricity/HCHP\";\n\tmsg1.payload = msg.payload.split( \"|\" )[2];\n\tmsg2.topic = \"/Electricity/HCHC\";\n\tmsg2.payload = msg.payload.split( \"|\" )[3];\n\tmsg3.topic = \"/Electricity/IISNT\";\n\tmsg3.payload = msg.payload.split( \"|\" )[4];\n\tmsg4.topic = \"/Electricity/PAPP\";\n\tmsg4.payload = msg.payload.split( \"|\" )[5];\n}\n\n\nreturn [[msg1, msg2, msg3, msg4, rssi, batteryLevel]];","outputs":"1","valid":true,"x":408,"y":104,"z":"758ce4af.8a731c","wires":[["4be430cf.b41bd"]]},{"id":"4be430cf.b41bd","type":"switch","name":"Filter null","property":"payload","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":574,"y":110,"z":"758ce4af.8a731c","wires":[["a552ea90.5aad18"]]},{"id":"64d41c87.9b2be4","type":"switch","name":"","property":"payload","rules":[{"t":"cont","v":"|"},{"t":"else"}],"checkall":"true","outputs":2,"x":299,"y":167,"z":"758ce4af.8a731c","wires":[["90fb63c3.6f04a","e2f9d3e7.1d063"],["b56051fe.4a9fb"]]},{"id":"b56051fe.4a9fb","type":"function","name":"","func":"msg.payload = msg.payload.toString('utf-8')\nreturn msg;","outputs":1,"valid":true,"x":459,"y":187,"z":"758ce4af.8a731c","wires":[[]]},{"id":"a037f488.5fc808","type":"switch","name":"Filter null","property":"payload","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":166,"y":168,"z":"758ce4af.8a731c","wires":[["64d41c87.9b2be4"]]},{"id":"e2f9d3e7.1d063","type":"debug","name":"","active":true,"console":"false","complete":"false","x":517,"y":147,"z":"758ce4af.8a731c","wires":[]},{"id":"a552ea90.5aad18","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"614e9779.9eb168","x":707,"y":110,"z":"758ce4af.8a731c","wires":[]},{"id":"3280e413.cd7f1c","type":"switch","name":"check integrity","property":"payload","rules":[{"t":"btwn","v":-20,"v2":45},{"t":"else"}],"checkall":"true","outputs":2,"x":178,"y":199.83331298828125,"z":"6f85eaee.907a14","wires":[["7d7d8905.828278"],["635b41e8.9ca4c"]]},{"id":"5e268b21.a1d974","type":"change","name":"Add unit","action":"replace","property":"unit","from":"","to":"°C","reg":false,"x":118.61114501953125,"y":154.36117553710938,"z":"6f85eaee.907a14","wires":[["3280e413.cd7f1c"]]},{"id":"635b41e8.9ca4c","type":"function","name":"Warning - Out of range","func":"msg.payload = \"Erreur - \" +  msg.topic.split(\"/\")[1] + \" - \" + msg.payload + msg.unit;\nreturn msg;","outputs":1,"valid":true,"x":439.5,"y":220,"z":"6f85eaee.907a14","wires":[["b06954d.f4f96a8"]]},{"id":"7d7d8905.828278","type":"function","name":"Set topic name","func":"msg.topic = \"/data/\"+msg.topic.split(\"/\")[2]+\"/\"+msg.topic.split(\"/\")[3];\n\nreturn msg;","outputs":1,"valid":true,"x":415,"y":160,"z":"6f85eaee.907a14","wires":[["397bee77.c68412"]]},{"id":"3f751f25.c08ae","type":"mqtt in","name":"","topic":"/raw/+/Temperature","broker":"614e9779.9eb168","x":92,"y":100,"z":"6f85eaee.907a14","wires":[["5e268b21.a1d974"]]},{"id":"397bee77.c68412","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"614e9779.9eb168","x":642.6944580078125,"y":159,"z":"6f85eaee.907a14","wires":[]},{"id":"b06954d.f4f96a8","type":"twitter out","twitter":"bce2fc25.431d","name":"Tweet","x":650,"y":220,"z":"6f85eaee.907a14","wires":[]},{"id":"e09eaa26.1f6158","type":"switch","name":"check integrity","property":"payload","rules":[{"t":"btwn","v":"15","v2":"95"},{"t":"else"}],"checkall":"true","outputs":2,"x":178,"y":447,"z":"6f85eaee.907a14","wires":[["5f653a80.a09ac4"],["ac5e7eb0.53a18"]]},{"id":"6f3e7808.90c188","type":"change","name":"Add unit","action":"replace","property":"unit","from":"","to":"%","reg":false,"x":118.61114501953125,"y":401.5278625488281,"z":"6f85eaee.907a14","wires":[["e09eaa26.1f6158"]]},{"id":"ac5e7eb0.53a18","type":"function","name":"Warning - Out of range","func":"msg.payload = \"Erreur - \" +  msg.topic.split(\"/\")[1] + \" - \" + msg.payload + msg.unit;\nreturn msg;","outputs":1,"valid":true,"x":439.5,"y":467.16668701171875,"z":"6f85eaee.907a14","wires":[["8b33ea7.f74cc18"]]},{"id":"5f653a80.a09ac4","type":"function","name":"Set topic name","func":"msg.topic = \"/data/\"+msg.topic.split(\"/\")[2]+\"/\"+msg.topic.split(\"/\")[3];\n\nreturn msg;","outputs":1,"valid":true,"x":415,"y":400,"z":"6f85eaee.907a14","wires":[["e2bb6b43.1d4498"]]},{"id":"7a9a2807.8565d8","type":"mqtt in","name":"","topic":"/raw/+/Humidity","broker":"614e9779.9eb168","x":93.5,"y":340,"z":"6f85eaee.907a14","wires":[["6f3e7808.90c188"]]},{"id":"e2bb6b43.1d4498","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"614e9779.9eb168","x":642.6944580078125,"y":399,"z":"6f85eaee.907a14","wires":[]},{"id":"8b33ea7.f74cc18","type":"twitter out","twitter":"bce2fc25.431d","name":"Tweet","x":650,"y":467.16668701171875,"z":"6f85eaee.907a14","wires":[]},{"id":"4675ffe8.b98a","type":"function","name":"Timeout","func":"// Initialise context variable\ncontext.sensor = (context.sensor || {} );   \n\n// Clear msg.payload\nmsg.payload = \"\";\n\n\nif ( msg.topic == \"onTime_1m\" ) {\n// Timer case\n\tfor ( var key in context.sensor ){\n\t\t// 65 sec\n\t\tif ( context.sensor[key] < (Date.now()-100*1000) ) {\n\t\t\tmsg.payload = msg.payload + \" Le capteur \" + key + \" ne répond plus depuis : \" + context.sensor[key] + \"\\r\\n\";\n\t\t}\n\t}\n} else {\n// Sensor refresh case\n\tcontext.sensor[ msg.topic ] = Date.now();\n}\n\n\nreturn msg;","outputs":1,"valid":true,"x":334,"y":433,"z":"758ce4af.8a731c","wires":[["efd4c042.102b4"]]},{"id":"9d95b491.626a48","type":"inject","name":"","topic":"onTime_1m","payload":"","payloadType":"none","repeat":"70","crontab":"","once":true,"x":114,"y":432,"z":"758ce4af.8a731c","wires":[["4675ffe8.b98a"]]},{"id":"efd4c042.102b4","type":"switch","name":"Filter null","property":"payload","rules":[{"t":"cont","v":"Le"}],"checkall":"true","outputs":1,"x":477,"y":433,"z":"758ce4af.8a731c","wires":[["a0b63ff4.5f49c"]]},{"id":"eb5ad2c3.14a53","type":"switch","name":"Filter null","property":"topic","rules":[{"t":"cont","v":"/batteryLevel/"}],"checkall":"true","outputs":1,"x":266,"y":327,"z":"758ce4af.8a731c","wires":[["4675ffe8.b98a"]]},{"id":"e936a10c.16c96","type":"mqtt in","name":"","topic":"/batteryLevel/+","broker":"614e9779.9eb168","x":100,"y":327,"z":"758ce4af.8a731c","wires":[["eb5ad2c3.14a53"]]},{"id":"a0b63ff4.5f49c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":635,"y":432,"z":"758ce4af.8a731c","wires":[]},{"id":"e0543768.1fabc8","type":"comment","name":"Receive data from uC","info":"","x":121,"y":40,"z":"758ce4af.8a731c","wires":[]},{"id":"b81cae6e.47e35","type":"comment","name":"Check sensor timeout","info":"","x":112.5,"y":280,"z":"758ce4af.8a731c","wires":[]},{"id":"d4c450db.2b3bb","type":"function","name":"","func":"/*msg.payload = [\n  {\n    \"name\" : msg.topic,\n    \"columns\" : msg.topic.split(\"/\")[2],\n    \"points\" : [\n      msg.payload\n    ]\n  }\n];*/\n\n\nvar value = msg.payload;\nmsg.payload = \"[{\\\"name\\\": \\\"\" + msg.topic+ \"\\\",\";\nmsg.payload = msg.payload + \"\\\"columns\\\" : [\\\"\" + msg.topic[2] + \"\\\"],\";\nmsg.payload = msg.payload + \"\\\"points\\\" : [ [\" + value + \"]]}]\";\n\nmsg.url = \"http://188.213.143.65:8086/db/db_test/series?u=root&p=testinflux\";\n\nreturn msg;","outputs":1,"valid":true,"x":392,"y":177,"z":"e73f34a4.18c0c8","wires":[["4b1fa2a1.b4e05c"]]},{"id":"4b1fa2a1.b4e05c","type":"http request","name":"","method":"POST","ret":"txt","url":"","x":546.5,"y":177,"z":"e73f34a4.18c0c8","wires":[[]]},{"id":"e804bb9d.17fb48","type":"mqtt in","name":"","topic":"/data/SensorTest_1/+","broker":"614e9779.9eb168","x":108.5,"y":112,"z":"e73f34a4.18c0c8","wires":[["d4c450db.2b3bb"]]},{"id":"e906141f.16f9e8","type":"mqtt in","name":"","topic":"/data/LivingRoom/+","broker":"614e9779.9eb168","x":125,"y":158,"z":"e73f34a4.18c0c8","wires":[["d4c450db.2b3bb"]]},{"id":"2a8e2940.d571d6","type":"mqtt in","name":"","topic":"/Electricity/#","broker":"614e9779.9eb168","x":139,"y":202,"z":"e73f34a4.18c0c8","wires":[["d4c450db.2b3bb"]]},{"id":"6a3c9408.95c36c","type":"mqtt in","name":"","topic":"/data/Bedroom_1/+","broker":"614e9779.9eb168","x":119,"y":63,"z":"e73f34a4.18c0c8","wires":[["d4c450db.2b3bb"]]},{"id":"34604949.cb9fb6","type":"mqtt in","name":"","topic":"/data/Conservatory/+","broker":"614e9779.9eb168","x":120,"y":271,"z":"e73f34a4.18c0c8","wires":[["d4c450db.2b3bb"]]},{"id":"c7799531.388668","type":"http request","name":"","method":"POST","ret":"txt","url":"http://localhost:8086/write","x":509,"y":415,"z":"e73f34a4.18c0c8","wires":[[]]},{"id":"c18a8ef8.3e757","type":"mqtt in","name":"","topic":"/data/#","broker":"614e9779.9eb168","x":187,"y":426,"z":"e73f34a4.18c0c8","wires":[["f7153b5e.08eac8"]]},{"id":"f7153b5e.08eac8","type":"function","name":"","func":"msg.payload=\n{\n    \"database\": \"db_note\",\n    \"retentionPolicy\": \"ret_7d\",\n    \"tags\": {\n        \"data\": msg.topic.split(\"/\")[3],\n        \"room\": msg.topic.split(\"/\")[2]\n    },\n    \"time\":  Math.round(Date.now()/1000),\n    \"points\": [\n        {\n            \"name\": \"sensorsData\",\n            \"fields\": {\n                \"value\": parseFloat(msg.payload)\n            }\n        }\n    ]\n}\n\nreturn msg;","outputs":1,"valid":true,"x":331,"y":436,"z":"e73f34a4.18c0c8","wires":[[]]},{"id":"8b79fb1d.748608","type":"mqtt in","name":"","topic":"/data/SensorTest_1/Humidity","broker":"614e9779.9eb168","x":136,"y":148,"z":"9cb2d97b.634d28","wires":[[]]},{"id":"5b0f771e.a4f088","type":"function","name":"","func":"msg.url = \"https://188.213.143.65/dashing/widgets/Humidity\"\nmsg.payload = '{ \"auth_token\": \"YOUR_AUTH_TOKEN\", \"value\": ' + msg.payload + ' }'\nreturn msg;","outputs":1,"valid":true,"x":366,"y":152,"z":"9cb2d97b.634d28","wires":[["2a100e99.d5eff2"]]},{"id":"483c10b6.b7c3f","type":"debug","name":"","active":true,"console":"false","complete":"false","x":665,"y":155,"z":"9cb2d97b.634d28","wires":[]},{"id":"2a100e99.d5eff2","type":"http request","name":"","method":"POST","ret":"txt","url":"","x":524,"y":110,"z":"9cb2d97b.634d28","wires":[["483c10b6.b7c3f"]]},{"id":"5f210b75.a0def4","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":126,"y":325,"z":"9cb2d97b.634d28","wires":[["8ff8b2ee.70075"]]},{"id":"8ff8b2ee.70075","type":"function","name":"","func":"msg.url = \"https://188.213.143.65/dashing/widgets/welcome\"\nmsg.payload = '{ \"auth_token\": \"YOUR_AUTH_TOKEN\", \"text\": Essai de texte }'\nreturn msg;","outputs":1,"valid":true,"x":306,"y":345,"z":"9cb2d97b.634d28","wires":[["c76a96b3.389568"]]},{"id":"c76a96b3.389568","type":"http request","name":"","method":"POST","ret":"txt","url":"","x":464,"y":303,"z":"9cb2d97b.634d28","wires":[["729a64d8.8d659c"]]},{"id":"729a64d8.8d659c","type":"debug","name":"","active":true,"console":"false","complete":"true","x":599,"y":379,"z":"9cb2d97b.634d28","wires":[]},{"id":"d46c2aca.2b93d8","type":"mqtt in","name":"","topic":"/batteryLevel/+","broker":"614e9779.9eb168","x":130,"y":324,"z":"e73f34a4.18c0c8","wires":[["d4c450db.2b3bb"]]},{"id":"c3e7e307.3c182","type":"mqtt in","name":"","topic":"/rssi/+","broker":"614e9779.9eb168","x":128,"y":28,"z":"e73f34a4.18c0c8","wires":[["d4c450db.2b3bb"]]},{"id":"207b20ae.df84e","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":118,"y":100,"z":"a602b629.59fd48","wires":[["1e837d8f.e17c82"]]},{"id":"1e837d8f.e17c82","type":"http request","name":"Get from Wunderground","method":"GET","ret":"txt","url":"http://api.wunderground.com/weatherstation/WXDailyHistory.asp?ID=ISEYSSIN29&format=XML","x":326,"y":100,"z":"a602b629.59fd48","wires":[["897fdbb4.768028"]]},{"id":"245b51e0.dba4ae","type":"debug","name":"","active":true,"console":"false","complete":"false","x":473,"y":211,"z":"a602b629.59fd48","wires":[]},{"id":"897fdbb4.768028","type":"xml","name":"","attr":"$","chr":"_","x":510,"y":100,"z":"a602b629.59fd48","wires":[["d8928b03.276d78"]]},{"id":"d8928b03.276d78","type":"function","name":"Extract data","func":"var msg1 = {};\nvar msg2 = {};\nvar dewPoint = {};\nvar frostPoint = {};\n\nmsg1.payload = msg.payload.day_observations.current_observation[msg.payload.day_observations.current_observation.length-1].relative_humidity[0];\nmsg2.payload = msg.payload.day_observations.current_observation[msg.payload.day_observations.current_observation.length-1].pressure_mb[0];\nmsg.payload = msg.payload.day_observations.current_observation[msg.payload.day_observations.current_observation.length-1].temp_c[0];\n\n// http://fr.wikipedia.org/wiki/Point_de_ros%C3%A9e\ndewPoint.payload = Math.pow( msg1.payload/100, 0.125 ) * ( 112 + (0.9*msg.payload) ) + (0.1*msg.payload) - 112\ndewPoint.payload = dewPoint.payload.toFixed(2);\n\nreturn [msg, msg1, msg2, dewPoint];","outputs":"4","valid":true,"x":210,"y":220,"z":"a602b629.59fd48","wires":[["245b51e0.dba4ae"],["245b51e0.dba4ae"],["245b51e0.dba4ae"],["245b51e0.dba4ae"]]}]