NodeRed_Flow/NoteRF_flow.json
[{"type":"tab","id":"758ce4af.8a731c","label":"NoteRF"},{"type":"tab","id":"6f85eaee.907a14","label":"DataProcessing"},{"type":"tab","id":"e73f34a4.18c0c8","label":"Influx"},{"type":"tab","id":"a602b629.59fd48","label":"WeatherFromWundeground"},{"type":"tab","id":"b59c4443.4a63b8","label":"Octoprint"},{"id":"27b239d6.d84dc6","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"614e9779.9eb168","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"rPi2"},{"id":"bce2fc25.431d","type":"twitter-credentials","screen_name":"@olivDom3"},{"id":"53f4ab5c.ac0b54","type":"twitter-credentials","screen_name":"@otwitt4945"},{"id":"ee433fc4.11bcc","type":"serial in","name":"","serial":"27b239d6.d84dc6","x":130,"y":85,"z":"758ce4af.8a731c","wires":[["a037f488.5fc808"]]},{"id":"90fb63c3.6f04a","type":"function","name":"Split and add infos","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msgBaro = {};\nvar rssi = {};\nvar batteryLevel = {};\n\nvar tableSensorsName = [ \"Nothing\", \"Bedroom\", \"LivingRoom\", \"Outside\", \"SensorTest_1\",\n\t\t\t\t\t \"BedroomNoe\", \"SensorTest\", \"Citrus\", \"Office\",\n\t\t\t\t\t \"Bathroom\",\n\t\t\t\t\t];\n\n\n\n\n\n// Extract sensorID, sensor name, and sensor type\nvar payloadLength = msg.payload.byteLength;\nvar sensorID = msg.payload.split('|')[0];\nvar sensorName = tableSensorsName[ sensorID ];\nvar sensorType = msg.payload.split('|')[1];\n\n\n// Extract RSSI & battery level\nrssi.topic =  \"/rssi/\" + sensorName;\nrssi.payload = msg.payload.substr( -4, 3 ); \nbatteryLevel.topic =  \"/batteryLevel/\" + sensorName\nbatteryLevel.payload = msg.payload.substr( -8, 3 )/100;\n\n\n/*  \nDATA_DHT22      1 \nDATA_TELEINFOCLIENT 2\nDATA_DS18B20   3\n*/\n\n\n// Extract data\n\n// Temperature\nif ( sensorType == 1 ) {\n\tmsg1.topic = \"/raw/\" + sensorName + \"/Temperature\";\n\tmsg1.payload = msg.payload.split( \"|\" )[2]/100;\n\tmsg2.topic = \"/raw/\" + sensorName + \"/Humidity\";\n\tmsg2.payload = msg.payload.split( \"|\" )[3]/100;\n}\n// Teleinfo client\nif ( sensorType == 2 ) {\n\tmsg1.topic = \"/Electricity/HCHP\";\n\tmsg1.payload = msg.payload.split( \"|\" )[2];\n\tmsg2.topic = \"/Electricity/HCHC\";\n\tmsg2.payload = msg.payload.split( \"|\" )[3];\n\tmsg3.topic = \"/Electricity/IISNT\";\n\tmsg3.payload = msg.payload.split( \"|\" )[4];\n\tmsg4.topic = \"/Electricity/PAPP\";\n\tmsg4.payload = msg.payload.split( \"|\" )[5];\n}\n\n// Pression\nif ( sensorType == 5 ) {\n    // From https://fr.wikipedia.org/wiki/Formule_du_nivellement_barom%C3%A9trique\n\tmsg1.topic = \"/raw/\" + sensorName + \"/Pressure\";\n\tvar temperature = msg.payload.split( \"|\" )[2]/100;\n\tmsg1.payload = msg.payload.split( \"|\" )[3]/100;\n\tmsg2.topic = \"/raw/\" + sensorName + \"/PressureSeaLevel\";\n\tif ( temperature >= 9.1 ) {\n\t    msg2.partialWaterPressure = 18.2194*(1.0463-Math.exp(-0.0666*temperature));\n\t} else {\n\t     msg2.partialWaterPressure = 5.6402*(-0.0916+Math.exp(-0.06*temperature));\n\t}\n\tmsg2.x = 9.80665/(287.05*((temperature+273.15)+0.12*msg2.partialWaterPressure+0.0065*210/2))*210;\n\tmsg2.payload = msg1.payload*Math.exp(msg2.x);\n}\n\nreturn [[msg1, msg2, msg3, msg4, rssi, batteryLevel]];","outputs":"1","valid":true,"x":442,"y":104,"z":"758ce4af.8a731c","wires":[["4be430cf.b41bd"]]},{"id":"4be430cf.b41bd","type":"switch","name":"Filter null","property":"payload","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":623.5,"y":104,"z":"758ce4af.8a731c","wires":[["a552ea90.5aad18"]]},{"id":"64d41c87.9b2be4","type":"switch","name":"","property":"payload","rules":[{"t":"cont","v":"|"},{"t":"else"}],"checkall":"true","outputs":2,"x":333,"y":167,"z":"758ce4af.8a731c","wires":[["90fb63c3.6f04a","2f9198e4.d06e68"],["b56051fe.4a9fb"]]},{"id":"b56051fe.4a9fb","type":"function","name":"","func":"msg.payload = msg.payload.toString('utf-8')\nreturn msg;","outputs":1,"valid":true,"x":493,"y":187,"z":"758ce4af.8a731c","wires":[[]]},{"id":"a037f488.5fc808","type":"switch","name":"Filter null","property":"payload","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":200,"y":168,"z":"758ce4af.8a731c","wires":[["64d41c87.9b2be4"]]},{"id":"a552ea90.5aad18","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"614e9779.9eb168","x":787.5,"y":104,"z":"758ce4af.8a731c","wires":[]},{"id":"3280e413.cd7f1c","type":"switch","name":"check integrity","property":"payload","rules":[{"t":"btwn","v":-20,"v2":45},{"t":"else"}],"checkall":"true","outputs":2,"x":241,"y":201.83331298828125,"z":"6f85eaee.907a14","wires":[["7d7d8905.828278"],["635b41e8.9ca4c"]]},{"id":"5e268b21.a1d974","type":"change","name":"Add unit","action":"replace","property":"unit","from":"","to":"°C","reg":false,"x":181.61114501953125,"y":156.36117553710938,"z":"6f85eaee.907a14","wires":[["3280e413.cd7f1c"]]},{"id":"635b41e8.9ca4c","type":"function","name":"Warning - Out of range","func":"msg.payload = \"Erreur - \" +  msg.topic.split(\"/\")[1] + \" - \" + msg.payload + msg.unit;\nreturn msg;","outputs":1,"valid":true,"x":502.5,"y":222,"z":"6f85eaee.907a14","wires":[["b06954d.f4f96a8"]]},{"id":"7d7d8905.828278","type":"function","name":"Set topic name","func":"msg.topic = \"/data/\"+msg.topic.split(\"/\")[2]+\"/\"+msg.topic.split(\"/\")[3];\n\nreturn msg;","outputs":1,"valid":true,"x":478,"y":162,"z":"6f85eaee.907a14","wires":[["397bee77.c68412"]]},{"id":"3f751f25.c08ae","type":"mqtt in","name":"","topic":"/raw/+/Temperature","broker":"614e9779.9eb168","x":155,"y":102,"z":"6f85eaee.907a14","wires":[["5e268b21.a1d974"]]},{"id":"397bee77.c68412","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"614e9779.9eb168","x":705.6944580078125,"y":161,"z":"6f85eaee.907a14","wires":[]},{"id":"b06954d.f4f96a8","type":"twitter out","twitter":"53f4ab5c.ac0b54","name":"Tweet","x":713,"y":222,"z":"6f85eaee.907a14","wires":[]},{"id":"e09eaa26.1f6158","type":"switch","name":"check integrity","property":"payload","rules":[{"t":"btwn","v":"15","v2":"99"},{"t":"else"}],"checkall":"true","outputs":2,"x":227,"y":380,"z":"6f85eaee.907a14","wires":[["5f653a80.a09ac4"],["ac5e7eb0.53a18"]]},{"id":"6f3e7808.90c188","type":"change","name":"Add unit","action":"replace","property":"unit","from":"","to":"%","reg":false,"x":167.61114501953125,"y":334.5278625488281,"z":"6f85eaee.907a14","wires":[["e09eaa26.1f6158"]]},{"id":"ac5e7eb0.53a18","type":"function","name":"Warning - Out of range","func":"msg.payload = \"Erreur - \" +  msg.topic.split(\"/\")[1] + \" - \" + msg.payload + msg.unit;\nreturn msg;","outputs":1,"valid":true,"x":488.5,"y":400.16668701171875,"z":"6f85eaee.907a14","wires":[["8b33ea7.f74cc18"]]},{"id":"5f653a80.a09ac4","type":"function","name":"Set topic name","func":"msg.topic = \"/data/\"+msg.topic.split(\"/\")[2]+\"/\"+msg.topic.split(\"/\")[3];\n\nreturn msg;","outputs":1,"valid":true,"x":464,"y":333,"z":"6f85eaee.907a14","wires":[["e2bb6b43.1d4498"]]},{"id":"7a9a2807.8565d8","type":"mqtt in","name":"","topic":"/raw/+/Humidity","broker":"614e9779.9eb168","x":142.5,"y":273,"z":"6f85eaee.907a14","wires":[["6f3e7808.90c188"]]},{"id":"e2bb6b43.1d4498","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"614e9779.9eb168","x":691.6944580078125,"y":332,"z":"6f85eaee.907a14","wires":[]},{"id":"8b33ea7.f74cc18","type":"twitter out","twitter":"53f4ab5c.ac0b54","name":"Tweet","x":699,"y":400.16668701171875,"z":"6f85eaee.907a14","wires":[]},{"id":"4675ffe8.b98a","type":"function","name":"Timeout","func":"// Initialise context variable\ncontext.sensor = (context.sensor || {} );   \n\n// Clear msg.payload\nmsg.payload = \"\";\n\n\nif ( msg.topic == \"onTime_1m\" ) {\n// Timer case\n\tfor ( var key in context.sensor ){\n\t\t// 65 sec\n\t\tif ( context.sensor[key] < (Date.now()-100*1000) ) {\n\t\t\tmsg.payload = msg.payload + \" Le capteur \" + key + \" ne répond plus depuis : \" + context.sensor[key] + \"\\r\\n\";\n\t\t}\n\t}\n} else {\n// Sensor refresh case\n\tcontext.sensor[ msg.topic ] = Date.now();\n}\n\n\nreturn msg;","outputs":1,"valid":true,"x":381,"y":437,"z":"758ce4af.8a731c","wires":[["efd4c042.102b4"]]},{"id":"9d95b491.626a48","type":"inject","name":"","topic":"onTime_1m","payload":"","payloadType":"none","repeat":"70","crontab":"","once":true,"x":161,"y":436,"z":"758ce4af.8a731c","wires":[["4675ffe8.b98a"]]},{"id":"efd4c042.102b4","type":"switch","name":"Filter null","property":"payload","rules":[{"t":"cont","v":"Le"}],"checkall":"true","outputs":1,"x":524,"y":437,"z":"758ce4af.8a731c","wires":[["a0b63ff4.5f49c"]]},{"id":"eb5ad2c3.14a53","type":"switch","name":"Filter null","property":"topic","rules":[{"t":"cont","v":"/batteryLevel/"}],"checkall":"true","outputs":1,"x":313,"y":331,"z":"758ce4af.8a731c","wires":[["4675ffe8.b98a"]]},{"id":"e936a10c.16c96","type":"mqtt in","name":"","topic":"/batteryLevel/+","broker":"614e9779.9eb168","x":147,"y":331,"z":"758ce4af.8a731c","wires":[["eb5ad2c3.14a53"]]},{"id":"a0b63ff4.5f49c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":682,"y":436,"z":"758ce4af.8a731c","wires":[]},{"id":"e0543768.1fabc8","type":"comment","name":"Receive data from uC","info":"","x":121,"y":40,"z":"758ce4af.8a731c","wires":[]},{"id":"b81cae6e.47e35","type":"comment","name":"Check sensor timeout","info":"","x":112.5,"y":280,"z":"758ce4af.8a731c","wires":[]},{"id":"c7799531.388668","type":"http request","name":"","method":"POST","ret":"txt","url":"http://localhost:8086/write","x":626.5,"y":160,"z":"e73f34a4.18c0c8","wires":[["9117560a.6ee8a8"]]},{"id":"c18a8ef8.3e757","type":"mqtt in","name":"","topic":"/data/#","broker":"614e9779.9eb168","x":99,"y":100,"z":"e73f34a4.18c0c8","wires":[["f7153b5e.08eac8"]]},{"id":"f7153b5e.08eac8","type":"function","name":"Formating to JSON 6h","func":"msg.payload=\n{\n    \"database\": \"db_note\",\n    \"retentionPolicy\": \"ret_6h\",\n    \"tags\": {\n        \"data\": msg.topic.split(\"/\")[3],\n        \"room\": msg.topic.split(\"/\")[2]\n    },\n    \"time\":  Math.round(Date.now()/1000),\n    \"points\": [\n        {\n            \"measurement\": \"sensorsData\",\n            \"fields\": {\n                \"value\": parseFloat(msg.payload)\n            }\n        }\n    ]\n}\n\nreturn msg;","outputs":1,"valid":true,"x":379.5,"y":100,"z":"e73f34a4.18c0c8","wires":[["c7799531.388668"]]},{"id":"207b20ae.df84e","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":118,"y":100,"z":"a602b629.59fd48","wires":[["1e837d8f.e17c82"]]},{"id":"1e837d8f.e17c82","type":"http request","name":"Get from Wunderground","method":"GET","ret":"txt","url":"http://api.wunderground.com/weatherstation/WXDailyHistory.asp?ID=ISEYSSIN29&format=XML","x":326,"y":100,"z":"a602b629.59fd48","wires":[["897fdbb4.768028"]]},{"id":"897fdbb4.768028","type":"xml","name":"","attr":"$","chr":"_","x":510,"y":100,"z":"a602b629.59fd48","wires":[["d8928b03.276d78"]]},{"id":"d8928b03.276d78","type":"function","name":"Extract data","func":"var msg1 = {};\nvar msg2 = {};\nvar dewPoint = {};\nvar frostPoint = {};\n\nmsg1.payload = msg.payload.day_observations.current_observation[msg.payload.day_observations.current_observation.length-1].relative_humidity[0];\nmsg2.payload = msg.payload.day_observations.current_observation[msg.payload.day_observations.current_observation.length-1].pressure_mb[0];\nmsg.payload = msg.payload.day_observations.current_observation[msg.payload.day_observations.current_observation.length-1].temp_c[0];\n\n// http://fr.wikipedia.org/wiki/Point_de_ros%C3%A9e\ndewPoint.payload = Math.pow( msg1.payload/100, 0.125 ) * ( 112 + (0.9*msg.payload) ) + (0.1*msg.payload) - 112\ndewPoint.payload = dewPoint.payload.toFixed(2);\n\nreturn [msg, msg1, msg2, dewPoint];","outputs":"4","valid":true,"x":181,"y":235,"z":"a602b629.59fd48","wires":[[],[],[],["69e7e182.96182"]]},{"id":"c26cf46.f3d9308","type":"mqtt out","name":"","topic":"/raw/Outside/Temperature","qos":"","retain":"","broker":"614e9779.9eb168","x":512,"y":180,"z":"a602b629.59fd48","wires":[]},{"id":"ac2a71bd.53d59","type":"mqtt out","name":"","topic":"/raw/Outside/Humidity","qos":"","retain":"","broker":"614e9779.9eb168","x":498,"y":220,"z":"a602b629.59fd48","wires":[]},{"id":"79636b71.869c94","type":"mqtt out","name":"","topic":"/data/Outside/Pressure","qos":"","retain":"","broker":"614e9779.9eb168","x":499,"y":260,"z":"a602b629.59fd48","wires":[]},{"id":"69e7e182.96182","type":"mqtt out","name":"","topic":"/data/Outside/DewPoint","qos":"","retain":"","broker":"614e9779.9eb168","x":503,"y":300,"z":"a602b629.59fd48","wires":[]},{"id":"fbd5b035.042a5","type":"mqtt in","name":"","topic":"/Electricity/HCHP","broker":"614e9779.9eb168","x":127.5,"y":160,"z":"e73f34a4.18c0c8","wires":[["854b617.f7ab4a"]]},{"id":"31151376.ceeaec","type":"mqtt in","name":"","topic":"/Electricity/PAPP","broker":"614e9779.9eb168","x":126,"y":240,"z":"e73f34a4.18c0c8","wires":[["a16b25be.5e94d8"]]},{"id":"854b617.f7ab4a","type":"function","name":"Formating to JSON 25h","func":"msg.payload=\n{\n    \"database\": \"db_note\",\n    \"retentionPolicy\": \"ret_25h\",\n    \"tags\": {\n        \"data\": msg.topic.split(\"/\")[2]\n    },\n    \"time\":  Math.round(Date.now()/1000),\n    \"points\": [\n        {\n            \"measurement\": \"electricity\",\n            \"fields\": {\n                \"value\": parseInt(msg.payload)\n            }\n        }\n    ]\n}\n\nreturn msg;","outputs":1,"valid":true,"x":383.5,"y":160,"z":"e73f34a4.18c0c8","wires":[["c7799531.388668"]]},{"id":"2f9198e4.d06e68","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":663,"y":202,"z":"758ce4af.8a731c","wires":[]},{"id":"41f41dea.be0be4","type":"comment","name":"Compute power consumption from the day before","info":"","x":188.5,"y":750,"z":"6f85eaee.907a14","wires":[]},{"id":"ca633c28.359cc","type":"mqtt in","name":"","topic":"octoprint/#","broker":"614e9779.9eb168","x":99.5,"y":66,"z":"b59c4443.4a63b8","wires":[["b15714c0.4ea8e8","f1fa7cbc.0e058","ea86ccb.f15793"]]},{"id":"23ea9686.dc156a","type":"twitter out","twitter":"53f4ab5c.ac0b54","name":"Tweet","x":570,"y":220,"z":"b59c4443.4a63b8","wires":[]},{"id":"b15714c0.4ea8e8","type":"switch","name":"PrintDone","property":"payload","rules":[{"t":"cont","v":"PrintDone"}],"checkall":"true","outputs":1,"x":202,"y":180,"z":"b59c4443.4a63b8","wires":[["7a7faf25.85805"]]},{"id":"f1fa7cbc.0e058","type":"switch","name":"PrintFailed","property":"payload","rules":[{"t":"cont","v":"PrintFailed"}],"checkall":"true","outputs":1,"x":202,"y":220,"z":"b59c4443.4a63b8","wires":[["31705aed.ce8fa6"]]},{"id":"7a7faf25.85805","type":"function","name":"Add message","func":"var ladate=new Date()\nmsg.payload = ladate.getHours() + \":\" + ladate.getMinutes() + \" - Impression terminée\";\nreturn msg;","outputs":1,"valid":true,"x":372,"y":180,"z":"b59c4443.4a63b8","wires":[["23ea9686.dc156a"]]},{"id":"31705aed.ce8fa6","type":"function","name":"Add message","func":"var ladate=new Date()\nmsg.payload = ladate.getHours() + \":\" + ladate.getMinutes() + \" - Impression avortée\";\nreturn msg;","outputs":1,"valid":true,"x":372,"y":220,"z":"b59c4443.4a63b8","wires":[["23ea9686.dc156a"]]},{"id":"ea86ccb.f15793","type":"switch","name":"Error","property":"payload","rules":[{"t":"cont","v":"Error"}],"checkall":"true","outputs":1,"x":190,"y":260,"z":"b59c4443.4a63b8","wires":[["2f2eb6ce.d0d14a"]]},{"id":"2f2eb6ce.d0d14a","type":"function","name":"Add message","func":"var ladate=new Date()\nmsg.payload = ladate.getHours() + \":\" + ladate.getMinutes() + \" - Imprimante en erreur\";\nreturn msg;","outputs":1,"valid":true,"x":372,"y":260,"z":"b59c4443.4a63b8","wires":[["23ea9686.dc156a"]]},{"id":"804a6816.7fb598","type":"inject","name":"","topic":"","payload":"SELECT max(value) FROM \"ret_7d_10m\".\"electricity\" WHERE \"data\" = 'HCHC'","payloadType":"none","repeat":"","crontab":"00 00 * * *","once":false,"x":111,"y":796,"z":"6f85eaee.907a14","wires":[["685f575a.97a0a8"]]},{"id":"ef449303.10bb7","type":"http request","name":"","method":"GET","ret":"txt","url":"","x":227.5,"y":856,"z":"6f85eaee.907a14","wires":[["52125583.adedac"]]},{"id":"52125583.adedac","type":"switch","name":"","property":"statusCode","rules":[{"t":"eq","v":"200"},{"t":"neq","v":"200"}],"checkall":"true","outputs":2,"x":371,"y":856,"z":"6f85eaee.907a14","wires":[["c2d425f7.3d2bd8"],["d72136d3.28dec8"]]},{"id":"c2d425f7.3d2bd8","type":"json","name":"","x":471,"y":796,"z":"6f85eaee.907a14","wires":[["561cbcb0.a9e344"]]},{"id":"561cbcb0.a9e344","type":"function","name":"Extract data","func":"msg1 = {};\nmsg.minHCHC = msg.payload.results[0].series[0].values[0][1];\nmsg.maxHCHC = msg.payload.results[1].series[0].values[0][1];\nmsg.minHCHP = msg.payload.results[2].series[0].values[0][1];\nmsg.maxHCHP = msg.payload.results[3].series[0].values[0][1];\n\n\n\nmsg1.url = \"http://localhost:8086/write?db=db_note&rp=ret_inf&precision=ms\";\nmsg1.payload = \"electricity,data=dailyHCHC value=\" + parseInt(msg.maxHCHC-msg.minHCHC) + \"i \" +  msg.date;\nmsg1.payload += \"\\nelectricity,data=dailyHCHP value=\" + parseInt(msg.maxHCHP-msg.minHCHP) + \"i \" +  msg.date;\n\nreturn msg1;\n\n\n/* Keep it to publish to MQTT if needed\ndailyHCHC.topic = \"/Electricity/dailyHCHC\";\ndailyHCHP.topic = \"/Electricity/dailyHCHP\";\n\ndailyHCHC.date = msg.date;\ndailyHCHP.date = msg.date;\n\nreturn [[dailyHCHC, dailyHCHP]];\n\nmsg1.minHCHC = msg.payload.results[0].series[0].values[0][1];\nmsg1.maxHCHC = msg.payload.results[1].series[0].values[0][1];\nmsg1.minHCHP = msg.payload.results[2].series[0].values[0][1];\nmsg1.maxHCHP = msg.payload.results[3].series[0].values[0][1];\n\nmsg1.deltaHCHC = msg1.maxHCHC - msg1.minHCHC;\nmsg1.deltaHCHP = msg1.maxHCHP - msg1.minHCHP;\n\ndailyHCHC.payload = msg1.maxHCHC - msg1.minHCHC;\ndailyHCHP.payload = msg1.maxHCHP - msg1.minHCHP;\n*/","outputs":"1","valid":true,"x":567.5,"y":836,"z":"6f85eaee.907a14","wires":[["a7ad4c12.5852b","8a48d63a.75b728"]]},{"id":"9117560a.6ee8a8","type":"switch","name":"If error","property":"statusCode","rules":[{"t":"eq","v":"204"},{"t":"neq","v":"204"}],"checkall":"false","outputs":2,"x":690,"y":220,"z":"e73f34a4.18c0c8","wires":[[],["baa85095.4557b"]]},{"id":"baa85095.4557b","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":849,"y":240,"z":"e73f34a4.18c0c8","wires":[]},{"id":"685f575a.97a0a8","type":"function","name":"Request contruction","func":"var date= new Date();\n// One day before\ndate.setTime( date.getTime() - 86400000 );\nmsg.timeFilterLow = date.getFullYear() + \"-\" + (\"0\" + (date.getMonth() + 1)).slice(-2) + \"-\" + (\"0\" + date.getDate()).slice(-2) + \" 00:00:00\";\nmsg.timeFilterHigh = date.getFullYear() + \"-\" + (\"0\" + (date.getMonth() + 1)).slice(-2) + \"-\" + (\"0\" + date.getDate()).slice(-2) + \" 23:59:59\";\nmsg.date = ( new Date( (date.getFullYear() + \"-\" + (\"0\" + (date.getMonth() + 1)).slice(-2) + \"-\" + (\"0\" + date.getDate()).slice(-2)) ) ).getTime();\n\n\nmsg.url = \"http://localhost:8086/query?db=db_note&q=\";\nmsg.url += \"SELECT first(value) AS minHCHC FROM \\\"ret_25h\\\".\\\"electricity\\\" WHERE data='HCHC' AND time > '\" + msg.timeFilterLow + \"' AND time < '\" + msg.timeFilterHigh + \"'%3B\";\nmsg.url +=  \"SELECT last(value) AS maxHCHC FROM \\\"ret_25h\\\".\\\"electricity\\\" WHERE data='HCHC' AND time > '\" + msg.timeFilterLow + \"' AND time < '\" + msg.timeFilterHigh + \"'%3B\";\nmsg.url += \"SELECT first(value) AS minHCHP FROM \\\"ret_25h\\\".\\\"electricity\\\" WHERE data='HCHP' AND time > '\" + msg.timeFilterLow + \"' AND time < '\" + msg.timeFilterHigh + \"'%3B\";\nmsg.url +=  \"SELECT last(value) AS maxHCHP FROM \\\"ret_25h\\\".\\\"electricity\\\" WHERE data='HCHP' AND time > '\" + msg.timeFilterLow + \"' AND time < '\" + msg.timeFilterHigh + \"'\";\nreturn msg;","outputs":1,"valid":true,"x":273,"y":796,"z":"6f85eaee.907a14","wires":[["ef449303.10bb7"]]},{"id":"a1ea6d4b.5e159","type":"mqtt in","name":"","topic":"/Electricity/HCHC","broker":"614e9779.9eb168","x":128,"y":200,"z":"e73f34a4.18c0c8","wires":[["854b617.f7ab4a"]]},{"id":"6266c1e8.9d994","type":"mqtt in","name":"","topic":"/Electricity/dailyHCHC","broker":"614e9779.9eb168","x":142.5,"y":280,"z":"e73f34a4.18c0c8","wires":[["a16b25be.5e94d8"]]},{"id":"51b16bd7.ae4e94","type":"mqtt in","name":"","topic":"/Electricity/dailyHCHP","broker":"614e9779.9eb168","x":142.5,"y":320,"z":"e73f34a4.18c0c8","wires":[["a16b25be.5e94d8"]]},{"id":"3aa55b88.c55aa4","type":"comment","name":"Check data consistency","info":"","x":107,"y":49,"z":"6f85eaee.907a14","wires":[]},{"id":"171faa12.e8e056","type":"comment","name":"Check sensors battery level","info":"","x":132.5,"y":500,"z":"758ce4af.8a731c","wires":[]},{"id":"8c69e777.739618","type":"mqtt in","name":"","topic":"/batteryLevel/+","broker":"614e9779.9eb168","x":152,"y":540,"z":"758ce4af.8a731c","wires":[["be65b775.419a48"]]},{"id":"be65b775.419a48","type":"switch","name":"Thresholds","property":"payload","rules":[{"t":"lte","v":"3.5"},{"t":"lte","v":"3.2"}],"checkall":"true","outputs":2,"x":320.5,"y":540,"z":"758ce4af.8a731c","wires":[["6ec95b6c.9136a4"],["51e6f90e.ae1908"]]},{"id":"6ec95b6c.9136a4","type":"function","name":"Add message","func":"msg.payload = \"Attention - \" +  msg.topic.split(\"/\")[2] + \" - \" + msg.payload + \" V\";\nreturn msg;","outputs":1,"valid":true,"x":486,"y":523,"z":"758ce4af.8a731c","wires":[["c4bfa6c9.3b4058"]]},{"id":"c4bfa6c9.3b4058","type":"twitter out","twitter":"53f4ab5c.ac0b54","name":"Tweet","x":664,"y":523,"z":"758ce4af.8a731c","wires":[]},{"id":"51e6f90e.ae1908","type":"function","name":"Add message","func":"msg.payload = \"Erreur - \" +  msg.topic.split(\"/\")[2] + \" - \" + msg.payload + \" V\";\nreturn msg;","outputs":1,"valid":true,"x":487,"y":560,"z":"758ce4af.8a731c","wires":[["4ded0abd.b212f4"]]},{"id":"4ded0abd.b212f4","type":"twitter out","twitter":"53f4ab5c.ac0b54","name":"Tweet","x":665,"y":560,"z":"758ce4af.8a731c","wires":[]},{"id":"a7ad4c12.5852b","type":"http request","name":"","method":"POST","ret":"txt","url":"","x":667.5,"y":796,"z":"6f85eaee.907a14","wires":[["e4685751.1b97a8","8a48d63a.75b728"]]},{"id":"e4685751.1b97a8","type":"switch","name":"","property":"statusCode","rules":[{"t":"eq","v":"204"},{"t":"neq","v":"204"}],"checkall":"true","outputs":2,"x":731,"y":836,"z":"6f85eaee.907a14","wires":[[],["d61d67df.29e298"]]},{"id":"d61d67df.29e298","type":"debug","name":"","active":true,"console":"false","complete":"true","x":874,"y":849,"z":"6f85eaee.907a14","wires":[]},{"id":"d72136d3.28dec8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":511,"y":896,"z":"6f85eaee.907a14","wires":[]},{"id":"a16b25be.5e94d8","type":"function","name":"Formating to JSON 6h","func":"msg.payload=\n{\n    \"database\": \"db_note\",\n    \"retentionPolicy\": \"ret_6h\",\n    \"tags\": {\n        \"data\": msg.topic.split(\"/\")[2]\n    },\n    \"time\":  Math.round(Date.now()/1000),\n    \"points\": [\n        {\n            \"measurement\": \"electricity\",\n            \"fields\": {\n                \"value\": parseInt(msg.payload)\n            }\n        }\n    ]\n}\n\nreturn msg;","outputs":1,"valid":true,"x":379.5,"y":200,"z":"e73f34a4.18c0c8","wires":[["c7799531.388668"]]},{"id":"2aef5818.d510a8","type":"inject","name":"","topic":"","payload":"SELECT max(value) FROM \"ret_7d_10m\".\"electricity\" WHERE \"data\" = 'HCHC'","payloadType":"none","repeat":"600","crontab":"","once":true,"x":107,"y":1020,"z":"6f85eaee.907a14","wires":[["c42a015.f3bd6"]]},{"id":"f7c5f281.083a1","type":"http request","name":"","method":"GET","ret":"txt","url":"","x":223.5,"y":1080,"z":"6f85eaee.907a14","wires":[["6075389a.9f8ac8"]]},{"id":"6075389a.9f8ac8","type":"switch","name":"","property":"statusCode","rules":[{"t":"eq","v":"200"},{"t":"neq","v":"200"}],"checkall":"true","outputs":2,"x":367,"y":1080,"z":"6f85eaee.907a14","wires":[["b4705ff6.4b8fa"],["4916a34a.b6e95c"]]},{"id":"b4705ff6.4b8fa","type":"json","name":"","x":467,"y":1020,"z":"6f85eaee.907a14","wires":[["42a9dbd4.bd5624"]]},{"id":"42a9dbd4.bd5624","type":"function","name":"Extract data","func":"var dailyHCHC = {};\nvar dailyHCHP = {};\n\nmsg.minHCHC = msg.payload.results[0].series[0].values[0][1];\nmsg.maxHCHC = msg.payload.results[1].series[0].values[0][1];\nmsg.minHCHP = msg.payload.results[2].series[0].values[0][1];\nmsg.maxHCHP = msg.payload.results[3].series[0].values[0][1];\n\ndailyHCHC.topic = \"/Electricity/dailyHCHC\";\ndailyHCHP.topic = \"/Electricity/dailyHCHP\";\n\ndailyHCHC.payload = msg.maxHCHC - msg.minHCHC;\ndailyHCHP.payload = msg.maxHCHP - msg.minHCHP;\n\nreturn [[dailyHCHC, dailyHCHP]];","outputs":"1","valid":true,"x":567.5,"y":1056,"z":"6f85eaee.907a14","wires":[["ae7bb283.51845"]]},{"id":"c42a015.f3bd6","type":"function","name":"Request contruction","func":"var date= new Date();\n\nmsg.timeFilter= date.getFullYear() + \"-\" + (\"0\" + (date.getMonth() + 1)).slice(-2) + \"-\" + (\"0\" + date.getDate()).slice(-2) + \" 00:00:00\";\n\nmsg.url = \"http://localhost:8086/query?db=db_note&q=\";\nmsg.url += \"SELECT first(value) AS minHCHC FROM \\\"ret_25h\\\".\\\"electricity\\\" WHERE data='HCHC' AND time > '\" + msg.timeFilter + \"'%3B\";\nmsg.url +=  \"SELECT last(value) AS maxHCHC FROM \\\"ret_25h\\\".\\\"electricity\\\" WHERE data='HCHC' AND time > '\" + msg.timeFilter + \"'%3B\";\nmsg.url += \"SELECT first(value) AS minHCHP FROM \\\"ret_25h\\\".\\\"electricity\\\" WHERE data='HCHP' AND time > '\" + msg.timeFilter + \"'%3B\";\nmsg.url +=  \"SELECT last(value) AS maxHCHP FROM \\\"ret_25h\\\".\\\"electricity\\\" WHERE data='HCHP' AND time > '\" + msg.timeFilter + \"'\";\nreturn msg;","outputs":1,"valid":true,"x":269,"y":1020,"z":"6f85eaee.907a14","wires":[["f7c5f281.083a1"]]},{"id":"4916a34a.b6e95c","type":"debug","name":"","active":true,"console":"false","complete":"true","x":507,"y":1120,"z":"6f85eaee.907a14","wires":[]},{"id":"9450d64f.6baf28","type":"comment","name":"Compute daily power consumption","info":"","x":141,"y":968,"z":"6f85eaee.907a14","wires":[]},{"id":"ae7bb283.51845","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"614e9779.9eb168","x":731,"y":1056,"z":"6f85eaee.907a14","wires":[]},{"id":"8a48d63a.75b728","type":"debug","name":"","active":true,"console":"false","complete":"true","x":875,"y":753,"z":"6f85eaee.907a14","wires":[]},{"id":"4fd1b606.b02e48","type":"inject","name":"","topic":"","payload":"3|5|1670|99871|419|-77","payloadType":"string","repeat":"","crontab":"","once":false,"x":188,"y":229,"z":"758ce4af.8a731c","wires":[["64d41c87.9b2be4"]]},{"id":"fc4fe9af.03b018","type":"switch","name":"check integrity","property":"payload","rules":[{"t":"btwn","v":"887","v2":"1080"},{"t":"else"}],"checkall":"true","outputs":2,"x":226.5,"y":602,"z":"6f85eaee.907a14","wires":[["9aeeb1d8.65115"],["7e88afbf.81775"]]},{"id":"2d694ee5.d296b2","type":"change","name":"Add unit","rules":[{"t":"set","p":"unit","to":"mbar"}],"x":167.11114501953125,"y":556.5278625488281,"z":"6f85eaee.907a14","wires":[["fc4fe9af.03b018"]]},{"id":"7e88afbf.81775","type":"function","name":"Warning - Out of range","func":"msg.payload = \"Erreur - \" +  msg.topic.split(\"/\")[1] + \" - \" + msg.payload + msg.unit;\nreturn msg;","outputs":1,"valid":true,"x":488,"y":622.1666870117188,"z":"6f85eaee.907a14","wires":[["dfafa70d.205058"]]},{"id":"9aeeb1d8.65115","type":"function","name":"Set topic name","func":"msg.topic = \"/data/\"+msg.topic.split(\"/\")[2]+\"/\"+msg.topic.split(\"/\")[3];\n\nreturn msg;","outputs":1,"valid":true,"x":474,"y":552,"z":"6f85eaee.907a14","wires":[["c2c9d505.3d3628"]]},{"id":"c913d4bb.36ec28","type":"mqtt in","name":"","topic":"/raw/Outside/Pressure","broker":"614e9779.9eb168","x":135.5,"y":500,"z":"6f85eaee.907a14","wires":[["2d694ee5.d296b2"]]},{"id":"c2c9d505.3d3628","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"614e9779.9eb168","x":688,"y":552,"z":"6f85eaee.907a14","wires":[]},{"id":"dfafa70d.205058","type":"twitter out","twitter":"53f4ab5c.ac0b54","name":"Tweet","x":698.5,"y":622.1666870117188,"z":"6f85eaee.907a14","wires":[]},{"id":"16bedb32.e94125","type":"mqtt in","name":"","topic":"/raw/Outside/PressureSeaLevel","broker":"614e9779.9eb168","x":165,"y":460,"z":"6f85eaee.907a14","wires":[["2d694ee5.d296b2"]]}]