NodeRed_Flow/octoprint.json
[{"id":"614e9779.9eb168","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"rPi2"},{"id":"ca633c28.359cc","type":"mqtt in","name":"","topic":"octoprint/#","broker":"614e9779.9eb168","x":99.5,"y":66,"z":"b59c4443.4a63b8","wires":[["b15714c0.4ea8e8","f1fa7cbc.0e058","ea86ccb.f15793"]]},{"id":"b15714c0.4ea8e8","type":"switch","name":"PrintDone","property":"payload","rules":[{"t":"cont","v":"PrintDone"}],"checkall":"true","outputs":1,"x":202,"y":180,"z":"b59c4443.4a63b8","wires":[["7a7faf25.85805"]]},{"id":"f1fa7cbc.0e058","type":"switch","name":"PrintFailed","property":"payload","rules":[{"t":"cont","v":"PrintFailed"}],"checkall":"true","outputs":1,"x":202,"y":220,"z":"b59c4443.4a63b8","wires":[["31705aed.ce8fa6"]]},{"id":"7a7faf25.85805","type":"function","name":"Add message","func":"var ladate=new Date()\nmsg.payload = ladate.getHours() + \":\" + ladate.getMinutes() + \" - Impression terminée\";\nreturn msg;","outputs":1,"x":372,"y":180,"z":"b59c4443.4a63b8","wires":[["23ea9686.dc156a"]]},{"id":"31705aed.ce8fa6","type":"function","name":"Add message","func":"var ladate=new Date()\nmsg.payload = ladate.getHours() + \":\" + ladate.getMinutes() + \" - Impression avortée\";\nreturn msg;","outputs":1,"x":372,"y":220,"z":"b59c4443.4a63b8","wires":[["23ea9686.dc156a"]]},{"id":"ea86ccb.f15793","type":"switch","name":"Error","property":"payload","rules":[{"t":"cont","v":"Error"}],"checkall":"true","outputs":1,"x":190,"y":260,"z":"b59c4443.4a63b8","wires":[["2f2eb6ce.d0d14a"]]},{"id":"2f2eb6ce.d0d14a","type":"function","name":"Add message","func":"var ladate=new Date()\nmsg.payload = ladate.getHours() + \":\" + ladate.getMinutes() + \" - Imprimante en erreur\";\nreturn msg;","outputs":1,"x":372,"y":260,"z":"b59c4443.4a63b8","wires":[["23ea9686.dc156a"]]}]
