NodeRed_Flow/pollutionDataFromAirRhoneAlpes
[{"id":"b82a5ab2.47d5a8","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"Node-Red"},{"id":"9f2c1b12.60d3e8","type":"inject","name":"Start flow","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":138.99996185302734,"y":105.88888804117835,"z":"d99ce1.ff26632","wires":[["e9f3befe.160c4"]]},{"id":"e9f3befe.160c4","type":"http request","name":"","method":"GET","ret":"txt","url":"http://www.air-rhonealpes.fr/indice/atmo","x":218.99996185302734,"y":162.88888804117835,"z":"d99ce1.ff26632","wires":[["30106e06.cfef92"]]},{"id":"30106e06.cfef92","type":"switch","name":"Check HTTP status","property":"statusCode","rules":[{"t":"eq","v":200,"v2":0},{"t":"neq","v":200,"v2":0}],"checkall":"true","outputs":2,"x":319.49996185302734,"y":212.22223154703772,"z":"d99ce1.ff26632","wires":[["473dec33.b8c214"],["4c47b272.b3b84c"]]},{"id":"473dec33.b8c214","type":"function","name":"Extract data","func":"// Extract value\n/*var msgValue = { payload:msg.payload.split(\"<b>\")[1]};\nmsgValue.payload = msgValue.payload.split(\"</b>\")[0];\n\n// Extract text\nvar msgText = { payload:msg.payload.split(\"<td colspan=\\\"2\\\" style=\\\"width:400px;text-align:justify;\\\">\")[1]};\nmsgText.payload = msgText.payload.split(\"</td>\")[0].replace( /\\r\\n/g, '<br />');\nreturn [msgValue, msgText];\n*/\n\nvar msg = { payload:msg.payload.split(\"<tr class=\\\"even\\\">\")[3].substr(84, 1) };\n\nreturn msg;","outputs":"1","noerr":0,"x":526.5,"y":180,"z":"d99ce1.ff26632","wires":[["4dfde937.b20218"]]},{"id":"576fcefb.a8903","type":"mqtt out","name":"","topic":"/raw/Outside/AirQuality","qos":"0","retain":"false","broker":"b82a5ab2.47d5a8","x":975.5,"y":180,"z":"d99ce1.ff26632","wires":[]},{"id":"4c47b272.b3b84c","type":"function","name":"Add error message","func":"msg.payload = \"Erreur - Impossible de récupérer la polution de Grenoble @\" + msg.url\nreturn msg;","outputs":1,"noerr":0,"x":549.5,"y":240,"z":"d99ce1.ff26632","wires":[["76bea7bc.894158"]]},{"id":"ea0f0c5.f15f0f","type":"mqtt in","name":"","topic":"/raw/Outside/AirQuality","broker":"b82a5ab2.47d5a8","x":152.66666412353516,"y":382.55565643310547,"z":"d99ce1.ff26632","wires":[["296bef6b.d6941"]]},{"id":"296bef6b.d6941","type":"switch","name":"Select air quality","property":"payload","rules":[{"t":"btwn","v":"0","v2":"4"},{"t":"btwn","v":"5","v2":"7"},{"t":"btwn","v":"8","v2":"10"}],"checkall":"true","outputs":3,"x":370.4444274902344,"y":382.55560302734375,"z":"d99ce1.ff26632","wires":[["a3c07b5c.5c3f88"],["1200eab4.edff15"],["c7650ae2.389af8"]]},{"id":"1200eab4.edff15","type":"function","name":"Add warning","func":"msg.payload = \"Attention - Air polué : \" + msg.payload\nmsg.badge = \"W\"\nreturn msg;","outputs":1,"noerr":0,"x":584.2222175598145,"y":381.66665840148926,"z":"d99ce1.ff26632","wires":[["50591b18.afa6e4","5ece4110.a131c","cc867738.337988"]]},{"id":"c7650ae2.389af8","type":"function","name":"Add danger","func":"msg.payload = \"Danger - Air très polué : \" + msg.payload\nmsg.badge = \"E\"\nreturn msg;","outputs":1,"noerr":0,"x":580.4444580078125,"y":424.66669368743896,"z":"d99ce1.ff26632","wires":[["50591b18.afa6e4","5ece4110.a131c","cc867738.337988"]]},{"id":"1319a2fc.ece65d","type":"comment","name":"Get the data from http://www.air-rhonealpes.fr","info":"1. Every hour, get the RSS feed from \"Air rhone alpes\"\n2. Parse it to find last report URL\n3. Get the report and extract the data","x":190.5,"y":40,"z":"d99ce1.ff26632","wires":[]},{"id":"787fc734.878038","type":"comment","name":"Send notifications in case of polution","info":"","x":166.4444580078125,"y":301.6666259765625,"z":"d99ce1.ff26632","wires":[]},{"id":"a3c07b5c.5c3f88","type":"function","name":"Add ok","func":"msg.payload = \"OK - Air correct : \" + msg.payload\nmsg.badge = \"I\"\nreturn msg;","outputs":1,"noerr":0,"x":568,"y":338.33331966400146,"z":"d99ce1.ff26632","wires":[["50591b18.afa6e4","5ece4110.a131c","cc867738.337988"]]},{"id":"4dfde937.b20218","type":"rbe","name":"Block unless value change","func":"rbe","gap":"","x":732.5,"y":180,"z":"d99ce1.ff26632","wires":[["576fcefb.a8903"]]}]
