NodeRed_Flow/receiveFromUC.json
[{"id":"614e9779.9eb168","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"rPi2"},{"id":"27b239d6.d84dc6","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"ee433fc4.11bcc","type":"serial in","name":"","serial":"27b239d6.d84dc6","x":109,"y":91,"z":"758ce4af.8a731c","wires":[["a037f488.5fc808"]]},{"id":"4be430cf.b41bd","type":"switch","name":"Filter null","property":"payload","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":602.5,"y":110,"z":"758ce4af.8a731c","wires":[["417f5227.be80ac"]]},{"id":"64d41c87.9b2be4","type":"switch","name":"","property":"payload","rules":[{"t":"cont","v":"|"},{"t":"else"}],"checkall":"true","outputs":2,"x":312,"y":173,"z":"758ce4af.8a731c","wires":[["90fb63c3.6f04a","2f9198e4.d06e68","51960c3.fae69f4"],["b56051fe.4a9fb"]]},{"id":"b56051fe.4a9fb","type":"function","name":"To 'utf-8'","func":"msg.payload = msg.payload.toString('utf-8')\nreturn msg;","outputs":1,"noerr":0,"x":472,"y":193,"z":"758ce4af.8a731c","wires":[[]]},{"id":"a037f488.5fc808","type":"switch","name":"Filter null","property":"payload","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":179,"y":174,"z":"758ce4af.8a731c","wires":[["64d41c87.9b2be4"]]},{"id":"a552ea90.5aad18","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"614e9779.9eb168","x":844.5,"y":110,"z":"758ce4af.8a731c","wires":[]},{"id":"e0543768.1fabc8","type":"comment","name":"Receive data from uC","info":"","x":103,"y":51,"z":"758ce4af.8a731c","wires":[]},{"id":"417f5227.be80ac","type":"switch","name":"","property":"topic","rules":[{"t":"cont","v":"undefined"},{"t":"else"}],"checkall":"true","outputs":2,"x":724,"y":110,"z":"758ce4af.8a731c","wires":[[],["a552ea90.5aad18"]]},{"id":"51960c3.fae69f4","type":"function","name":"Split and add infos","func":"var msg1 = {};\nvar rssi = {};\nvar batteryLevel = {};\n\nvar tableSensorsName = [ \"Nothing\", \"Bedroom\", \"LivingRoom\", \"Outside\", \"SensorTest_1\",\n\t\t\t\t\t \"Bedroom_2\", \"SensorTest\", \"Flower_1\", \"Office\",\n\t\t\t\t\t \"Bathroom\",\n\t\t\t\t\t];\n\n\n\n\n\n// Extract sensorID, sensor name, and sensor type\nvar payloadLength = msg.payload.byteLength;\nvar sensorID = msg.payload.split('|')[0];\nvar sensorName = tableSensorsName[ sensorID ];\nvar sensorType = msg.payload.split('|')[1];\n\n\n// Extract RSSI & battery level\nrssi.topic =  \"/rssi/\" + sensorName;\nrssi.payload = msg.payload.substr( -4, 3 ); \nbatteryLevel.topic =  \"/batteryLevel/\" + sensorName;\nbatteryLevel.payload = msg.payload.substr( -8, 3 )/100;\n\n\n/*  \nDATA_DHT22      1 \nDATA_TELEINFOCLIENT 2\nDATA_DS18B20   3\n*/\n\n\n// Extract data\n\n// Temperature\nif ( sensorType == 1 ) {\n\tmsg1.topic = \"/raw/\" + sensorName + \"/Temperature\";\n\tmsg1.payload = msg.payload.split( \"|\" )[2]/100;\n\tnode.send(msg1);\n\tmsg1.topic = \"/raw/\" + sensorName + \"/Humidity\";\n\tmsg1.payload = msg.payload.split( \"|\" )[3]/100;\n\tnode.send(msg1);\n}\n// Teleinfo client\nif ( sensorType == 2 ) {\n\tmsg1.topic = \"/Electricity/HCHP\";\n\tmsg1.payload = msg.payload.split( \"|\" )[2];\n\tnode.send(msg1);\n\tmsg1.topic = \"/Electricity/HCHC\";\n\tmsg1.payload = msg.payload.split( \"|\" )[3];\n\tnode.send(msg1);\n\tmsg1.topic = \"/Electricity/IISNT\";\n\tmsg1.payload = msg.payload.split( \"|\" )[4];\n\tnode.send(msg1);\n\tmsg1.topic = \"/Electricity/PAPP\";\n\tmsg1.payload = msg.payload.split( \"|\" )[5];\n    node.send(msg1);\n}\n\n// Pression\nif ( sensorType == 5 ) {\n    // From https://fr.wikipedia.org/wiki/Formule_du_nivellement_barom%C3%A9trique\n\tmsg1.topic = \"/raw/\" + sensorName + \"/Pressure\";\n\tvar temperature = msg.payload.split( \"|\" )[2]/100;\n\tmsg1.payload = msg.payload.split( \"|\" )[3]/100;\n\tmsg1.topic = \"/raw/\" + sensorName + \"/PressureSeaLevel\";\n\tif ( temperature >= 9.1 ) {\n\t    msg1.partialWaterPressure = 18.2194*(1.0463-Math.exp(-0.0666*temperature));\n\t} else {\n\t     msg1.partialWaterPressure = 5.6402*(-0.0916+Math.exp(-0.06*temperature));\n\t}\n\tmsg1.x = 9.80665/(287.05*((temperature+273.15)+0.12*msg1.partialWaterPressure+0.0065*210/2))*210;\n\tmsg1.payload = msg1.payload*Math.exp(msg1.x);\n    node.send(msg1);\n}\n\nreturn [[ rssi, batteryLevel]];\n","outputs":1,"noerr":0,"x":455,"y":106,"z":"758ce4af.8a731c","wires":[["4be430cf.b41bd"]]},{"id":"73d665a3.8c299c","type":"comment","name":"Filters \"Null\" and \"Undefined\"","info":"","x":688,"y":67,"z":"758ce4af.8a731c","wires":[]}]
