NodeRed_Flow/sendToInflux.json
[{"id":"614e9779.9eb168","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"rPi2"},{"id":"c18a8ef8.3e757","type":"mqtt in","name":"","topic":"/data/#","broker":"614e9779.9eb168","x":99,"y":100,"z":"e73f34a4.18c0c8","wires":[["f7153b5e.08eac8"]]},{"id":"f7153b5e.08eac8","type":"function","name":"Formating to JSON 6h","func":"msg.payload=\n{\n    \"database\": \"db_note\",\n    \"retentionPolicy\": \"ret_25h\",\n    \"tags\": {\n        \"data\": msg.topic.split(\"/\")[3],\n        \"room\": msg.topic.split(\"/\")[2]\n    },\n    \"time\":  Math.round(Date.now()/1000),\n    \"points\": [\n        {\n            \"measurement\": \"sensorsData\",\n            \"fields\": {\n                \"value\": parseFloat(msg.payload)\n            }\n        }\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":379.5,"y":100,"z":"e73f34a4.18c0c8","wires":[["83840963.7c7bf8"]]},{"id":"fbd5b035.042a5","type":"mqtt in","name":"","topic":"/Electricity/HCHP","broker":"614e9779.9eb168","x":127.5,"y":160,"z":"e73f34a4.18c0c8","wires":[["854b617.f7ab4a"]]},{"id":"31151376.ceeaec","type":"mqtt in","name":"","topic":"/Electricity/PAPP","broker":"614e9779.9eb168","x":126,"y":240,"z":"e73f34a4.18c0c8","wires":[["a16b25be.5e94d8"]]},{"id":"854b617.f7ab4a","type":"function","name":"Formating to JSON 25h","func":"msg.payload=\n{\n    \"database\": \"db_note\",\n    \"retentionPolicy\": \"ret_25h\",\n    \"tags\": {\n        \"data\": msg.topic.split(\"/\")[2]\n    },\n    \"time\":  Math.round(Date.now()/1000),\n    \"points\": [\n        {\n            \"measurement\": \"electricity\",\n            \"fields\": {\n                \"value\": parseInt(msg.payload)\n            }\n        }\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":383.5,"y":160,"z":"e73f34a4.18c0c8","wires":[["83840963.7c7bf8"]]},{"id":"9117560a.6ee8a8","type":"switch","name":"If error","property":"statusCode","rules":[{"t":"eq","v":"204"},{"t":"neq","v":"204"}],"checkall":"false","outputs":2,"x":690,"y":220,"z":"e73f34a4.18c0c8","wires":[[],["baa85095.4557b"]]},{"id":"a1ea6d4b.5e159","type":"mqtt in","name":"","topic":"/Electricity/HCHC","broker":"614e9779.9eb168","x":128,"y":200,"z":"e73f34a4.18c0c8","wires":[["854b617.f7ab4a"]]},{"id":"6266c1e8.9d994","type":"mqtt in","name":"","topic":"/Electricity/dailyHCHC","broker":"614e9779.9eb168","x":142.5,"y":280,"z":"e73f34a4.18c0c8","wires":[["a16b25be.5e94d8"]]},{"id":"51b16bd7.ae4e94","type":"mqtt in","name":"","topic":"/Electricity/dailyHCHP","broker":"614e9779.9eb168","x":142.5,"y":320,"z":"e73f34a4.18c0c8","wires":[["a16b25be.5e94d8"]]},{"id":"a16b25be.5e94d8","type":"function","name":"Formating to JSON 6h","func":"msg.payload=\n{\n    \"database\": \"db_note\",\n    \"retentionPolicy\": \"ret_25h\",\n    \"tags\": {\n        \"data\": msg.topic.split(\"/\")[2]\n    },\n    \"time\":  Math.round(Date.now()/1000),\n    \"points\": [\n        {\n            \"measurement\": \"electricity\",\n            \"fields\": {\n                \"value\": parseInt(msg.payload)\n            }\n        }\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":379.5,"y":200,"z":"e73f34a4.18c0c8","wires":[["83840963.7c7bf8"]]},{"id":"83840963.7c7bf8","type":"http request","name":"Send to Influx","method":"POST","ret":"txt","url":"http://dbAdress:8086/write","x":642,"y":306,"z":"e73f34a4.18c0c8","wires":[["9117560a.6ee8a8"]]}]
